@import "tailwindcss";


@theme {

  --font-delaGothic: "Dela Gothic One", sans-serif;
  --font-resonay-base: "ResonayBase";
  --font-elCamino: "ElCaminoCaps";
  --font-telegraf: "Telegraf";
  --font-reklame: "reklame";

  --color-primary: #fe5d00;

  --color-primary-50: #fff7ec;
  --color-primary-100: #ffeed3;
  --color-primary-200: #ffd9a5;
  --color-primary-300: #ffbd6d;
  --color-primary-400: #ff9632;
  --color-primary-500: #ff770a;
  --color-primary-600: #fe5d00;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-gray-950: #0a0a0a;

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-2lg: 1199px;
  --breakpoint-xl: 1399px;

}

@layer base {

  html {
    font-size: 10px;
  }

  body {
    font-family: var(--font-delaGothic);
    background-color: #fff;
    color: var(--color-primary);
    font-size: 18px;
    line-height: normal;
  }

  @media screen and (max-width: 768px) {
    body {
      font-size: 16px;
    }
  }

  button {
    color: inherit;
    background: 0 0;
    cursor: pointer;
    border: none;
    outline: 0;
  }

  button:focus,
  a:focus {
    outline: none;
  }

  a {
    text-decoration: none;
    outline: 0;
    color: inherit;
  }

  input,
  textarea,
  select {
    border: 2px solid var(--color-primary-200);
    background-color: var(--color-primary-200);
    color: #000;
    font-family: var(--font-telegraf);
    outline: 0;
    font-weight: 700;
    transition: border .2s ease;
    resize: none;
    padding: 8px;
    width: 100%;
    font-size: 15px;
  }

  input:focus,
  textarea:focus,
  select:focus {
    border: 2px solid var(--color-primary-50);
  }

  .light_one :where(input, select, textarea):focus {
    border-color: var(--color-primary-400);
  }

  form label {
    color: var(--color-primary-100);
  }

  form.light_one label {
    color: var(--color-primary-400);
  }

  img:is([sizes="auto" i], [sizes^="auto," i]) {
    contain-intrinsic-size: 3000px 1500px;
  }

}

@layer components {

  .btn {
    display: inline-block;
    cursor: pointer;
  }

  .btn_submit {
    color: var(--color-primary);
    background-color: var(--color-primary-200);
    padding: 10px 50px 10px 25px;
    border-radius: 25px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    transition: background .3s ease;
    font-family: var(--font-elCamino);
    font-weight: 800;
  }

  .btn_submit svg {
    width: 13px;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%) rotate(90deg);
    transition: all .3s ease;
    pointer-events: none;
  }

  .btn_submit:hover {
    background-color: var(--color-primary);
    color: var(--color-primary-100);
  }

  .btn_submit:hover svg {
    transform: translateY(-50%) rotate(210deg);
  }

  .text-stroke {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-primary-500);
  }

  .sb_xs::-webkit-scrollbar {
    width: 0px
  }

  .sb_xs::-webkit-scrollbar-track {
    background: var(--color-primary-900);
  }

  .sb_xs::-webkit-scrollbar-thumb {
    background: var(--color-primary-500);

  }

  @supports not selector(::-webkit-scrollbar) {
    .sb_xs {
      scrollbar-color: var(--color-primary-500) var(--color-primary-900);
    }
  }
}

@layer utilities {
  .container {
    @apply mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[992px] xl:max-w-6xl py-0 px-5 lg:px-12 w-full
  }

  .container:not([class*='mx-']):not([class*='my-']) {
    @apply my-0;
  }
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 799px) {
  header .container {
    padding: 0 2rem;
  }
}

.container.xl {
  max-width: 136rem;
}

.container.lg {
  max-width: 116rem;
}

.container.md {
  max-width: 86rem;
}

.pageslider .swiper {
  overflow: clip !important;
}

.pageslider .swiper-wrapper {
  transition-timing-function: linear !important;
}

.yottie-widget-inner {
  border-radius: 0 !important;
}

.yottie-widget-header-channel-title {
  font-family: var(--font-telegraf);
  font-size: 26px !important;
  font-weight: 700;
  color: var(--color-primary-500) !important;
}

.yottie-widget-header-channel-title a {
  color: var(--color-primary-500) !important;
  transition: all 0.2s ease-in-out;
  text-underline-offset: 4px;
}

.yottie-widget-header-channel-title a:hover {
  color: var(--color-primary-300) !important;
}
